<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./vendor/autoload.php"
    cacheDirectory=".phpunit/cache/"
    colors="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    stopOnFailure="true"
    timeoutForMediumTests="5"
    timeoutForLargeTests="10"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="./.phpunit/coverage-report/"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Demo">
            <directory>./laravel/tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./laravel/tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
